.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  max-width: 100%; /* コンテナの最大幅を画面幅に合わせる */
}

.bingo-card {
  display: grid;
  grid-template-columns: repeat(5, 80px);
  gap: 0px;
  margin: 0 auto;
  border: 18px solid #353535;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fcfcfc;
}

.bingo-card-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3列に設定 */
  gap: 5px; /* セル間の間隔 */
  max-width: 300px; /* カードの最大幅を指定 */
  margin: auto; /* カードを中央に配置 */
}

.bingo-card-7x7 {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 0px;
  margin: auto;
}

.bingo-cell {
  width: 80px;
  height: 80px;
  background-size: cover;
  border: 2px solid #ddd;
  cursor: pointer;
}

.bingo-cell-7x7 {
  width: 60px;
  height: 60px;
}

@media (min-width: 601px) and (max-width: 1100px) {
  .bingo-card {
    grid-template-columns: repeat(5, 60px);
    padding: 10px;
    border: 12px solid #000;
    margin: 0;
  }

  .bingo-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
  }
}

@media (max-width: 600px) {
  .bingo-card {
    grid-template-columns: repeat(5, 60px);
    padding: 10px;
    border: 12px solid #000;
    margin: 0;
  }

  .bingo-cell {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc;
  }

  .bingo-card-7x7 {
    grid-template-columns: repeat(7, 1fr);
    width: calc(100vw - 40px);
    box-sizing: border-box;
  }

  .bingo-cell-7x7 {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }
}

.bingo-card.blue {
  border-color: #2f88fc;
}

.bingo-card.red {
  border-color: #ff3535;
}

.bingo-cell.clicked {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* 例: クリック時にセルの背景色を暗くする */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: #fcfcfc;
  color: #353535;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings-container {
  text-align: left; /* 全てのテキストを左揃えにする */
}
.settings-container h3 {
  margin-bottom: 8px; /* 小見出しの下のマージンを8pxに設定 */
}

.settings-container p {
  margin-top: 4px; /* 本文の上のマージンを4pxに設定 */
}

.bingo-code-display {
  margin-bottom: 5px; /* ビンゴコード表示エリアの下のマージンを縮小 */
}

.bingo-code-input {
  margin-top: 5px; /* ビンゴコード入力エリアの上のマージンを縮小 */
}
